[Desktop Entry]
Name=PurpleEgg
Exec=gapplication launch org.gnome.PurpleEgg
Icon=org.gnome.PurpleEgg
Type=Application
StartupNotify=true
DBusActivatable=true
Categories=Categories=GNOME;GTK;System;TerminalEmulator;
Keywords=terminal;shell;project
